
h1 {
    text-align: center;
    color: white;
}
body {
    background-color: black;
}
img {
    padding: 2px;
}
h2 {
    color: white;
    text-align: left;
}
a button {
    float: right;
    color: white;
    background-color: black;
}
a {
    font-size: 12px;
}
